*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
h1{
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
}
ul,ol,li{
padding: 0;
margin: 0;
text-decoration: none;
}
header{
    background-color: black;
    max-width: 1920px;
    margin: 0px auto;
    height: 200px;
   
}
.rex{
    width: 190px;
    height: 20px;
    position: absolute;
margin-top: 77px;
margin-left: 149px;
}
.rex1{
    display: flex;
    justify-content: center;
align-items: flex-end;
height: 110px;
margin-left: 200px;
}
.rex2{
    margin-right: 80px;
font-size: 30px;
color: white;
}
.kroschka{
    background-color: #020D04;
    max-width: 1920px;
    margin: 0px auto;
    height: 2000px;
}
.dropbtn {
    background-color: white;
   
   
    font-size: 16px;
   border-radius: 25px;
   width: 100px;
   height: 40px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .drop{
    display: flex;
    justify-content: center;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  

.riad{
    display: flex;
    justify-content: center;
  
}
 .sekcia{
    background-color: #FFFFFF;
    width: 500px;
    height: 600px;
    margin-left: 40px;
    margin-top: 30px;
 }
 .fotopam{
    background-color: #f1f1f1;
    height: 410px;
 }
 .fotopam1{
margin-left: 50px;
 }
.pod{
    background-color: white;
    font-size: 18px;
   border-radius: 25px;
   width: 150px;
   height: 40px;
   margin-left: 35px;
}
.knopki{
    display: flex;
 margin-left: 57px;
 margin-top: 10px;
}
.nasvanie{
    font-size: 35px;
    display: flex;
   margin-left: 60px;
   margin-top: 15px;
}
.rasmer{
   font-size: 20px;
   margin-left: 60px;
   margin-top: 30px;
}









 .karta{
    background-color: black;
    max-width: 1920px;
    margin: 0px auto;
    height: 1000px;
}

.kar{
  color: #FFF;
  margin-left: 200px;

}
.fot{
  background-color: #000;
  max-width: 1920px;
  margin: 0px auto;
  height: 550px; 
}
.fot1{
  position: absolute;
  margin-left: 80px;
  margin-top: 100px;
}
.fot2{
margin-top: 60px;
}
.yu{
width: 300px;
height: 30px
}
.yu1{
color: #FFF;
font-size: 30px;
}
.yu2{
color: #FFF;
font-size: 25px;
height: 20px;
margin-bottom: 20px;
}
.yu3{
color: #FFF;
margin-top: 190px;
font-size: 22px;
}
.fotkar{
  position: absolute;
  margin-left: 1100px;
  margin-top: 100px;

}
.karta1{
  margin-top: 30px;
}